<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lonely - Free bootstrap 3 one page template</title>
    <!-- CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="stylesheets/nivo-lightbox.css" rel="stylesheet" />
	<link href="stylesheets/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
	<link href="stylesheets/owl.carousel.css" rel="stylesheet" media="screen" />
    <link href="stylesheets/owl.theme.css" rel="stylesheet" media="screen" />	
	<link href="stylesheets/animate.css" rel="stylesheet" />
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
	<link href="color/default.css" rel="stylesheet">
    <!-- =======================================================
        Theme Name: Lonely
        Theme URL: https://bootstrapmade.com/free-html-bootstrap-template-lonely/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<!-- Preloader 
	<div id="preloader">
	  <div id="load"></div>
	</div> -->

	<!-- Section: intro -->
    <section id="intro" class="intro">
      <div id="quote">
    	<p style="float: right">
        <p style="float: right; size: 50px; color:#ff69b4">Sheryl Kara Sandberg is an American technology executive,activist, and author. <br>She is the chief operating officer (COO) of Facebook and founder of Leanin.org.<br><br><br>"I just believed. I believed that the technology would change people's lives.<br> I believed putting real identity online - putting technology behind real identity - was the missing link."<br><br><br>
          <button><a href="#about">WIT and Organization</a></button>
        </p>     
    </p>
  </div>
    
    </section>
	<!-- /Section: intro -->
	
    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-md-12">
                         
                                          <!-- Brand and toggle get grouped for better mobile display -->
                                          <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
                                          </div>
                                                      <!-- Collect the nav links, forms, and other content for toggling -->
                                                      <div class="collapse navbar-collapse" id="menu">
                                                            <ul class="nav navbar-nav">
                                                                  <li class="active"><a href="#intro">Home</a></li>
                                                                  <li><a href="#about">About Me</a></li>
														          <li><a href="#gallery">My gallery</a></li>                                                                                                             
                                                                  <li><a href="#contact">Talk to me</a></li>
                                                            </ul>
                                                      </div>
                                                      <!-- /.Navbar-collapse -->
                             
                                          </div>
                                    </div>
                              </div>
                              <!-- /.container -->
                        </nav>
    </div> 
    <!-- /Navigation -->  

	<!-- Section: about -->
    <section id="about" class="home-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					
						<div class="section-heading text-center">
						<div class="wow bounceInDown" data-wow-delay="0.2s">
							<h2>We Are Rails Girls Mombasa</h2>
						</div>
						<p class="wow bounceInUp" data-wow-delay="0.3s">We are a group of ladies(gems) who use code to positively change the world</p>
						</div>
					
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
				
					<%= image_tag 'us1.jpg', :class => 'img-responsive img-rounded', alt: 'img1' %>
				</div>		
				<div class="col-md-6">
					<p><strong>Puts "Write more than code, write the future"</strong></p>
					<p>
					We empower women to unlock their potentials and use them to build solutions using science and technology. We spread love using code and coffee.
					</p>
					<blockquote>
					We believe in community over individuality
					</blockquote>
					<a href="#gallery" class="btn btn-skin btn-lg btn-scroll">See our photos</a>
				</div>
			</div>		
		</div>
	</section>
	<!-- /Section: about -->
	
	<!-- Section: separator -->
    <section id="separator" class="home-section parallax text-center" data-stellar-background-ratio="0.5" style="background-position: 0% 37.1953px;">

    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="align-center txt-shadow">
            <div class="icon">
              <i class="fa fa-graduation-cap fa-5x"></i>
            </div>
            <span class="color-white">Bachelor of Design</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="align-center txt-shadow">
            <div class="icon">
              <i class="fa fa-heart fa-5x"></i>
            </div>
            <span class="color-white">10x failed in love</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="align-center txt-shadow">
            <div class="icon">
              <i class="fa fa-plane fa-5x"></i>
            </div>
            <span class="color-white">I love traveling</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="align-center txt-shadow">
            <div class="icon">
              <i class="fa fa-camera fa-5x"></i>
            </div>
            <span class="color-white">I'm photographer</span>
          </div>
        </div>
      </div>
    </div>
  </section>
	<!-- /Section: separator -->
	
	
	<!-- Section: gallery -->
    <section id="gallery" class="home-section text-center bg-gray">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
            <div class="section-heading">
              <h2>Our photo gallery</h2>
              <p>Take a look at some of the moments experienced at Rails Girls Mombasa</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="column">
              <%= image_tag 'us1.jpg', size: 15*15, :onclick => 'openModal();currentSlide(1)', :class => 'hover-shadow cursor' %>
            </div>
            <div class="column">
              <%= image_tag 'us2.jpg', size: 15*15, :onclick => 'openModal();currentSlide(2)', :class => 'hover-shadow cursor' %>
            </div>
            <div class="column">
              <%= image_tag 'us3.jpg', size: 15*15, :onclick => 'openModal();currentSlide(3)', :class => 'hover-shadow cursor' %>
            </div>
            <div class="column">
              <%= image_tag 'us4.jpg', size: 15*15, :onclick => 'openModal();currentSlide(4)', :class => 'hover-shadow cursor' %>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <%= image_tag 'asha.jpg', size: 15*15, :onclick => 'openModal();currentSlide(5)', :class => 'hover-shadow cursor' %>
            </div>
            <div class="column">
              <%= image_tag 'cate.jpg', size: 15*15, :onclick => 'openModal();currentSlide(6)', :class => 'hover-shadow cursor' %>
            </div>
            <div class="column">
              <%= image_tag 'fatma.jpg', size: 15*15, :onclick => 'openModal();currentSlide(7)', :class => 'hover-shadow cursor' %>
            </div>
            <div class="column">
              <%= image_tag 'mercy.jpg', size: 15*15, :onclick => 'openModal();currentSlide(8)', :class => 'hover-shadow cursor' %>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <%= image_tag 'rahma.jpg', size: 15*15, :onclick => 'openModal();currentSlide(9)', :class => 'hover-shadow cursor' %>
            </div>
              <div class="column">
              <%= image_tag 'sue.jpg', size: 15*15, :onclick => 'openModal();currentSlide(10)', :class => 'hover-shadow cursor' %>
            </div>
          </div>
            </div>

        </div>

          <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

              <div class="mySlides">
                <div class="numbertext">1 / 10</div>
                <%= image_tag 'us1.jpg', :style => "width:100%", :class => "style" %>
              </div>

              <div class="mySlides">
                <div class="numbertext">2 / 10</div>
               <%= image_tag 'us2.jpg', :style => "width:100%", :class => "style" %>
              </div>

              <div class="mySlides">
                <div class="numbertext">3 / 10</div>
                <%= image_tag 'us3.jpg', :style => "width:100%", :class => "style" %>
              </div>
              
              <div class="mySlides">
                <div class="numbertext">4 / 10</div>
               <%= image_tag 'us4.jpg', :style => "width:100%", :class => "style" %>
              </div>

              <div class="mySlides">
                <div class="numbertext">5 / 10</div>
               <%= image_tag 'asha.jpg', :style => "width:100%", :class => "style" %>
              </div>

              <div class="mySlides">
                <div class="numbertext">6 / 10</div>
               <%= image_tag 'cate.jpg', :style => "width:100%", :class => "style" %>
              </div>

              <div class="mySlides">
                <div class="numbertext">7 / 10</div>
               <%= image_tag 'fatma.jpg', :style => "width:100%", :class => "style" %>
              </div>

              <div class="mySlides">
                <div class="numbertext">8 / 10</div>
               <%= image_tag 'mercy.jpg', :style => "width:100%", :class => "style" %>
              </div>

              <div class="mySlides">
                <div class="numbertext">9 / 10</div>
               <%= image_tag 'rahma.jpg', :style => "width:100%", :class => "style" %>
              </div>

              <div class="mySlides">
                <div class="numbertext">10 / 10</div>
               <%= image_tag 'sue.jpg', :style => "width:100%", :class => "style" %>
              </div>
              
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>

              <div class="caption-container">
                <p id="caption"></p>
              </div>


              <div class="column">
               <%= image_tag 'us1.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(1)', :alt => '1' %> 
              </div>
              <div class="column">
                <%= image_tag 'us2.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(2)', :alt => '2' %> 
              </div>
              <div class="column">
                <%= image_tag 'us3.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(3)', :alt => '3' %> 

              </div>
              <div class="column">
                <%= image_tag 'us4.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(4)', :alt => '4' %> 
              </div>
              <div class="column">
                <%= image_tag 'asha.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(5)', :alt => '5' %> 
              </div>
              <div class="column">
                <%= image_tag 'cate.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(6)', :alt => '6' %> 
              </div>
              <div class="column">
                <%= image_tag 'fatma.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(7)', :alt => '7' %> 
              </div>
              <div class="column">
                <%= image_tag 'mercy.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(8)', :alt => '8' %> 
              </div>
              <div class="column">
                <%= image_tag 'rahma.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(9)', :alt => '9' %> 
              </div>
              <div class="column">
                <%= image_tag 'sue.jpg', :class => 'demo cursor', size: 15*15, :onclick => 'currentSlide(10)', :alt => '10' %> 
              </div>
            </div>
          </div>
    </div>
  </section>
	<!-- /Section: services -->
	

	

	<!-- Section: contact -->
    <section id="contact" class="home-section text-center">
		<div class="heading-contact">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-offset-2">
					
					<div class="section-heading">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<h2>Email or phone are welcome</h2>
					</div>
					<p class="wow lightSpeedIn" data-wow-delay="0.3s">Gentleman, introduce your self and get in touch with me privately</p>
					</div>
					
				</div>
			</div>
			</div>
		</div>
		<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="form-wrapper marginbot-50">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form id="contact-form" action="" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>
                    
                    <div class="text-center"><button type="submit" class="btn btn-skin btn-block" id="btnContactUs">Send Message</button></div>
                </form>
            </div>
			<div class="text-center">
					<p class="lead"><i class="fa fa-phone"></i> Call me +1 888 9796 88</p>
			</div>
        </div>

    </div>	

		</div>
	</section>
	<!-- /Section: contact -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<p>&copy; Lonely Theme. All Rights Reserved</p>
                    <div class="credits">
                        <!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Lonely
                        -->
                        <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
				</div>
			</div>	
		</div>
	</footer>

    <!-- Core JavaScript Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>	
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/nivo-lightbox.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>

    <script>
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
    
</body>

</html>
